{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["unused-imports", "prettier"],
  "extends": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [["src", "./src"]],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "react/self-closing-comp": 0,
    "no-alert": 0,
    "camelcase": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "naming-convention": 0,
    "default-param-last": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-restricted-exports": 0,
    "react/no-children-prop": 0,
    "react/forbid-prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/no-array-index-key": 0,
    "no-promise-executor-return": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
    "react/tsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "react/function-component-definition": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "import/extensions": [
      "off",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-unused-vars": [
      1,
      {
        "args": "none"
      }
    ],
    // unused-imports
    // https://www.npmjs.com/package/eslint-plugin-unused-imports
    "unused-imports/no-unused-imports": 1,
    "unused-imports/no-unused-vars": [
      0,
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
