* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.text {
    font-size: 2rem;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.text_hide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.text_cursor {
    position: absolute;
    top: 50%; /* Position the cursor vertically in the middle of the text */
    transform: translateY(-50%);
    width: 3px;
    height: 1.5rem;
    background-color: black;
    animation: cursorBlink 0.7s infinite;
}

@keyframes cursorBlink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
